@import '../skins/index.scss';

body {
  background-color: setColor('white');
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
ol, ul {
	list-style: none;
}
p {
  margin: 0;
}

.car-dealer {
  @include flex(row);
  .main {
    width: 66%;
  }
  .sidebar {
    width: 33%;
  }
}
