@import '../skins/index.scss';

body {
  background-color: setColor('white');
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0;
}
ol, ul {
	list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

.car-dealer {
  display: flex;
  flex-flow: row wrap;
  .main {
    flex: 8 1 auto;
  }
  .sidebar {
    background-color: setColor('black');
    color: setColor('white');
    min-width: 300px;
    flex: 1 1 auto;
  }
}
